{% extends "base.html" %}
{% load static%}

{% block title%}
Colleges Information
{% endblock %}

{% block css_files%}
<link rel="stylesheet" href="{% static 'colleges/collegedetail.css' %}">
{% endblock %}



{% block content %}
<div class="colleges">
    
<p>College Name:{{college.Name}}</p>
<p>Scholarship:{{college.ScholarshipName}}</p>
<p>Minimum SAT Required for Scholarship:{{college.MinimumSAT }}</p>
<p>Minimum GPA Required for Scholarship:{{college.MinimumGpa}}</p>
<p>Scholarship Information:<a href="{{college.Informationlink}}">{{college.Informationlink}}</a></p>
<p>College Website:<a href="{{college.Collegwebsite}}">{{college.Collegwebsite}}</a></p>
<p>Deadlines for scholarship:{{college.Deadlines}}</p>
<p>Comman Application:{{college.CommanApp}}</p>
<p>WES(World Education Service):{{college.Wes }}</p><br><br>

{% if college.Additionalinformation %}
<h3>Additional Information:</h3>
<p>{{college.Additionalinformation|linebreaks}}</p>
{% endif %}

</div>


{% endblock %}